.header-carousel ::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: calc(50% + 45px);
    height: 100%;
    background: #cccc;
    z-index: -1;
}

.outer {
    position: relative;
    overflow: hidden;
}