.designers .titlebox {
    padding: 80px 50px;
    background-color: #0D6B68;
}

.designers .image-overlay {
    position: absolute;
    inset: 0;               
    background: rgba(0, 0, 0, 0.20);  
    z-index: 1;
}

.designers .imagecontentbox {
    z-index: 2;
}

.designers .imagebox:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.designers .imagebox {
    overflow: hidden;
}