.introheader {
    color: #03201F;
    /* font-size: 80px; */
    font-size: clamp(32px, 6.5vw, 80px);
    line-height: 1.3;
}

span {
    color: #0D6B68;
}

h5 {
    color: #03201F;
    width: fit-content;
}

.border-white {
    border: 2px solid #fff;
}

.carousel-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 20px 20px 0px #0D6B68;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .carousel-container {
        max-width: 90%;
    }
}

.bg-container {
    background-image: url('../assets/img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}
