.ourprojects .titlebox {
    padding: 80px 50px;
    background-color: #0D6B68;
}

.ourprojects .image-overlay {
    position: absolute;
    inset: 0;               
    background: rgba(0, 0, 0, 0.25);  
    z-index: 1;
}

.ourprojects .imagecontentbox {
    z-index: 2;
}

.ourprojects .imagebox:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.ourprojects .imagebox {
    overflow: hidden;
}